asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.3
django-embed-video==1.4.3
django-user-visit==0.5.1
idna==3.3
Pillow==9.1.0
requests==2.27.1
sqlparse==0.4.2
tzdata==2022.1
ua-parser==0.10.0
urllib3==1.26.9
user-agents==2.2.0