{% extends 'sport_news/base.html' %}
{% load static %}

{% block content %}
		<!--************************************
				Banner Start
		*************************************-->
		<div class="tg-banner tg-haslayout">
			<div class="tg-imglayer">
				<img src="{% static 'mysite/images/bg-pattran.png' %}" alt="image desctription">
			</div>
			<div class="container">
				<div class="row">
					<div class="tg-banner-content tg-haslayout">
						<div class="tg-pagetitle">
							<h1>Gallery</h1>
						</div>
						<ol class="tg-breadcrumb">
							<li><a href="#">Home</a></li>
							<li class="active">Archive - Gallery</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<!--************************************
					Soccer Media Start
			*************************************-->
			<section class="tg-main-section tg-soccermedia tg-haslayout">
				<div id="tg-soccermediascrollbar" class="tg-soccermediascrollbar">
					<div id="filter-masonry" class="tg-soccermedia-content tg-haslayout">
						{% for i in gallery %}
							<div class="masonry-grid">	 
								<div class="tg-project">
									<figure class="tg-postimg">
										<img src="{{i.image.url}}" alt="image description" >
										<figcaption>
											<a class="tg-theme-tag" data-rel="prettyPhoto[iframe]" href="{{i.image.url}}"><i class="fa fa-image"></i></a>
											<a class="tg-theme-tag">in {{i.date}}</a>
											<h3>{{i.title}}</h3>
										</figcaption>
									</figure>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>
			<!--************************************
					Soccer Media End
			*************************************-->
		</main>
		<!--************************************
				Main End
		*************************************-->
{% endblock %}