{% extends 'sport_news/base.html' %}
{% load static %}

{% block content%}
		<!--************************************
				Banner Start
		*************************************-->
		<div class="tg-banner tg-haslayout">
			<div class="tg-imglayer">
				<img src="{% static 'mysite/images/bg-pattran.png' %}" alt="image desctription">
			</div>
			<div class="container">
				<div class="row">
					<div class="tg-banner-content tg-haslayout">
						<div class="tg-pagetitle">
							<h1>buy tickets</h1>
						</div>
						<ol class="tg-breadcrumb">
							<li><a href="#">Home</a></li>
							<li class="active">buy tickets</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<section class="tg-main-section tg-haslayout">
				<div class="container">
					<div class="tg-section-name">
						<h2>buy Tickets</h2>
					</div>
					<div class="col-sm-11 col-xs-11 pull-right">
						<div class="row">
							<div class="tg-tickets">
								<div class="tg-ticket">
									<time class="tg-matchdate" datetime="2016-05-03">{{info.day}}<span>{{info.month}}</span></time>
									<div class="tg-matchdetail">
										<span class="tg-theme-tag">{{info.league_type}}</span>
										<h4>{{info.first_team_name}} <span>vs</span> {{info.second_team_name}}</h4>
										<ul class="tg-matchmetadata">
											<li><time datetime="2016-05-03">{{info.clock}}</time></li>
											<li><address>{{info.address}}</address></li>
										</ul>
									</div>
									<div class="tg-btnsbox">
										<!-- <a class="tg-btn" href="#">read more</a> -->
										<a class="tg-btn" href="{% url 'sport_news:payment' %}">book my ticket</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!--************************************
				Main End
		*************************************-->
{% endblock %}