{% extends 'sport_news/base.html' %}
{% load static %}

{% block content %}
<!--************************************
				Banner Start
		*************************************-->
		<div class="tg-banner tg-haslayout">
			<div class="tg-imglayer">
				<img src="{% static 'mysite/images/bg-pattran.png' %}" alt="image desctription">
			</div>
			<div class="container">
				<div class="row">
					<div class="tg-banner-content tg-haslayout">
						<div class="tg-pagetitle">
							<h1>Sport / Group</h1>
						</div>
						<ol class="tg-breadcrumb">
							<li><a href="#">Home</a></li>
							<li class="active">Group</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Banner End
		*************************************-->
        <main id="tg-main" class="tg-main tg-haslayout" style="background: url('{% static 'mysite/images/0017.jpg' %}')">
            <section class="tg-main-section tg-haslayout">
                <div class="container" >
                    <form method="POST" action="{% url 'users:register' %}">
                        {% csrf_token %}
						{{form.as_p}}
                    
                        <button  class="tg-btn" type="submit" name="submit">register</button>
                        <input type="hidden" name="text" value="{% url 'sport_news:index' %}">
						&nbsp;&nbsp;&nbsp;&nbsp;		
						<a style="color: rgb(103, 74, 2)" href="{% url 'users:login' %}">already have account?</a>
						
					</form>
						
				</div>
            </section>
        </main>    
{% endblock %}